/* make scrolling smooth */
html {
    scroll-behavior: smooth;
}

/*
 get rid of padding & sizing on body so
 header is at top
*/
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* add some padding back to rest of page */
main{
    padding: 2vw
}

/* navbar */
.navbar {
    background-color: #865175;
display: flex;
flex-direction: column;
font-size: 1.5rem;
margin-bottom: 1rem;
padding: 1rem;
align-items: center;
text-align:center;
}


/* logo */
.logo {
    display: flex;
    align-items: center;



}
.logo img {
    width: 60px;
    height: auto;
    max-width: 100%;
}
.logo h1 {
    font-size: 1.2em;

}
/* navigation list */
.navbar-links li{
    list-style: none;
    display: block;
padding: 0.5em 0;
}

/*
 style all a tags in header
 and then on hover
*/

.navbar-links a{
    text-decoration: none;
    color: white;
    padding: 1rem 1.25;
    display: block;
    font-size: 1.5rem;
    text-decoration: none;
    display: inline-block;
}

.navbar-links a:hover, .navbar-links a:focus {
    background-color: #4EDB3B;
    color: black;
    border-radius: 10px;
}

/*
media query for non-mobile nav bar
min-width set to width of nav elements
such that no text wraps
*/
@media screen and (min-width: 60rem) {
    .navbar {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .navbar-links ul {
        display: flex;
        gap: 1rem;
        margin: 0;
        padding: 0;
        flex-direction: row;
        justify-content: space-between;
    }
    .navbar-links li {
        display: flex;
        padding: 0;
        justify-content: space-between;
    }
}
