@import url('https://fonts.googleapis.com/css2?family=BBH+Sans+Hegarty&family=Quicksand:wght@300..700&display=swap');

body {
background-color:#554161;
font-family: "Quicksand", sans-serif;
font-size:20px
}

h1, h2, h3, h4, h5, h6{
    font-family: "BBH Sans Hegarty", sans-serif;
    font-size: 30pt;
}

header, p{
text-align: center;

}

header img{
    width:150px;
}

#hero img {
    width: 220px;
    max-width: 100%;
}
#hero, footer {
    text-align: center;
    background-color: #865175;
    padding:12px;
    border:5px solid #4EDB3B
}

#bio {
    text-align:center;
}

#hobbies ul li:nth-child(odd) {
    color: #3bdb86;
}


#gallery {
    border:3px solid #4EDB3B
}

#gallery figure{
    text-align: center;
}

#gallery h2{
    text-align: center;
}

#lit h2{
    text-align: center;
}

#lit {
    border:3px solid #4EDB3B
}

#lit div{
    margin:0 auto;
}
#video {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    aspect-ratio: auto;
}
#formElements {
    display:grid;
}
