@import url('https://fonts.googleapis.com/css2?family=BBH+Sans+Hegarty&family=Quicksand:wght@300..700&display=swap');
*, *::before, *::after {
    box-sizing: border-box;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}


body {
background-color:#554161;
font-family: "Quicksand", sans-serif;
font-size:20px
}

h1, h2, h3, h4, h5, h6{
    font-family: "BBH Sans Hegarty", sans-serif;
    font-size: 30pt;
}

header, p{
text-align: center;

}

header img{
    max-width:150px;
}

#hero img {
    width: 220px;
    max-width: 100%;
}
#hero, footer {
    text-align: center;
    background-color: #865175;
    padding:12px;
    border:5px solid #4EDB3B
}

#bio {
    text-align:center;
}

#hobbies ul li:nth-child(odd) {
    color: #3bdb86;
}


#gallery {
    border:3px solid #4EDB3B
}

#gallery figure{
    text-align: center;
}

#gallery h2{
    text-align: center;
}

#lit h2{
    text-align: center;
}

#lit {
    border:3px solid #4EDB3B
}

#lit div{
    margin:0 auto;
}
#video {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    aspect-ratio: auto;
}
#formElements {
    display:grid;
    row-gap: .5em;

}

#contact{
padding: 1rem;
max-width: 600px;
margin: 2rem auto;
}

fieldset{
    border: 2px solid #4EDB3B;
    padding: 1rem;
    margin-top: 1em;
    margin-bottom: 1em;

}

legend{
background-color: #3bdb86;
padding: 0.5em;
}

#contact input, #contact textarea, #contact select, #contact button {
padding: .5em;
font-size: 1rem;
}
#contact ul{
list-style: none;
padding: 0px;
}

#contact li{
margin: 1rem;
}
#contact button{
background-color: #3bdb86;
max-width: 400px;
width: 50%;
justify-self: center;
}


.container {
    max-width: 1500px;
     width: 100%;
    margin: 0 auto;
    padding: 1rem;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

section {
    margin-bottom: 2rem;
}
#formElements {
    width: 100%;
}


@media (max-width: 768px) {
    body {
        overflow-x: hidden;
    }

    .navbar {
        width: 100%;
    }
}
